.courses .description{
    display: block;
    width: 80%;
    text-align: justify;
}
.curse-input {
    display: inline-block;
    width: auto;
    align-self: baseline;
    padding: 20px;
}
.alert-msg{
    margin: 3%;
}
.nav-bar{
    margin-bottom: 65px;
}

/*PROFILE ADMIN*/

.admin-profile-container{
 font-family: Arial, Helvetica, sans-serif;
}

.profile-data-container{
    text-align: center;
    border: thin black solid;
    margin:  2% 0 2% 0;
    padding: 2% 0 2% 0;
}

.profile-data{
    display: inline-block;
    text-align: center;
    font-size: x-large;
    padding: 5px;
    width: 500px;
}
.profile-data span{
    padding: 3%;
    font-size: medium;
}
.form-container{
    display: inline-block;
    width: 900px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}
.selector-container label{
    margin: 2% 0 2% 0;
}
.selector-container select{
    display: inline-block;
    margin: 2% 0 2% 0;
}
.profile-form.input-field{
    width: 300px;
    height: 20px;
    border: solid thin;
}
.profile-form.input-button{
    font-size: large;
    margin: 1%;
    padding: 10px;
}
/*PROFILE ENDS*/

/*TEACHER START*/
.form-container.teachers{
    width: 925px;
    text-align: center;
}
.teachers.form.input{
    margin: 10px 30px 10px 30px;
    font-size: large;
}
.teachers.list.container{
    display: block;
    text-align: center;
    margin: 2%;
}
.teachers.list.container table{
    text-align: center;
    width: 100%;
    border-bottom: black solid thin;
    border-collapse: collapse;
}
.teachers.list.container th {
    background-color: #a0aec0;
}
.teachers.list.container td{
    border: solid thin;
    text-align: justify;
    padding: 5px;
}
.teachers.list.container a{
    color: black;
    text-decoration: none;
}
.teachers.list.container a:hover{
    color: #a0aec0;
}
/*TEACHER ENDS*/

/*COURSES*/
/*COURSES*/
.courses.form.inputs.container{
    vertical-align: top;
    display: inline-block;
    width: 1200px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    text-align: center;
    font-size: large;
}
.courses.form.inputs.container label{
    text-align: left;
}
.courses.inputs.container.left{
    vertical-align: top;
    display: inline-block;
    width: 250px;
    padding: 10px;
}
.courses.inputs.container.right{
    vertical-align: top;
    display: inline-block;
    width: 250px;
    padding: 10px;
}
.courses.inputs.container.description{
    display: inline-block;
    width: 600px;
    padding: 10px;
}
.courses.inputs.container.button{
    display: block;
}
.courses.form.input.button{
    text-align: center;
    width: 100px;
    height: 25px;
    font-size: large;
}
.courses.inputs.container label{
    display: block;
    background-color: tomato;
    width: 100%;
}
.courses.inputs.container input{
    display: block;
    width: 100%;
}
.courses.inputs.container select{
    display: block;
    width: 100%;
}
.courses.table.container{
    display: inline-block;
    width: 1200px;
    margin-top: 3%;
}
.courses.table.container table{
    width: 100%;
    text-align: justify;
    padding: 5px;
    border-collapse: collapse;
}
.courses .row.header th{
    font-size: large;
    background-color: #a0aec0;
    text-align: center;
    padding:5px;
}
.courses .row.courses td{
    padding:5px;
    font-size: medium;
    border-collapse: collapse;
    border: solid thin;
}
.courses .row.courses a{
    text-decoration: none;
    color: black;
}
.courses .row.courses a:hover{
    color: #a0aec0;
}
.courses .inactive td{
    background-color: #4a5568;
    color: #e2e8f0;
}
.courses .col.description{
    width: 600px;
}

/*COURSES ENDS*/

/*CLASSES*/
div.form.text.container{
    margin-top: 3%;
    padding: 2%;
    display: inline-block;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    width: 45%;
}
.form.input.submit input{
    margin: 1%;
    width: 25%;
    font-size: large;
}
.form.container.inputs{
    display: inline-block;
    padding: 1%;
    text-align: left;
}
.form.container.inputs.right{
    width: 60%;

    padding: 10px;
}
.form.container.inputs.left{
    width: 35%;
}
.form.container.inputs input{
    border: solid thin;
    width: 100%;
    padding-left: 5px;
    margin: 10px;
}
.form.container.inputs label{
    padding: 2px;
    display: block;
    font-size: large;
}
div.form.table.container{
    display: inline-block;
    width: 100%;
    margin-top: 2%;
}
.form.table.container table{
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    border-collapse: collapse;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
}
.form.table.container thead th{
    color: white;
    background-color: tomato;
    font-size: medium;
    padding: 0;
    margin: 0;
}
.form.table.container tbody{
    font-size: small;
}
.form.table.container td{
    border: solid thin;
    height: 15px;
    width: 10px;
}
.col.SÁBADO{
    background-color: tomato;
}
.col.DOMINGO{
    background-color: tomato;
}

.row.hour input{
    padding: 1px;
    margin: 1px;
    width: 10px;
}

.row.hour:hover{
    background-color: lightgray;
}
.readonly{
    font-size: larger;
    border: none;
    display: block;
}

.list.class.container table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}
.list.class.container p{
    text-align: left;
    margin: 0
}
/*CLASS LIST CLASSES*/
.list.class.container table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    border-collapse: collapse;
}
.list.class.container td{
    border: solid thin;
}
.list.class.container p{
    text-align: left;
    padding-left: 10px;
    margin: 0;
}
.list.class.container a{
    color: black;
    text-decoration: none;
}
.list.class.container .col.name:hover a{
    color: white;
}
.list.class.container .col.name:hover{
    background-color: tomato;
}
.list.class.container .col.course:hover a{
    color: white;
}
.list.class.container .col.course:hover{
    background-color: tomato;
}
.list.class.container .col.teacher:hover a{
    color: white;
}
.list.class.container .col.teacher:hover{
    background-color: tomato;
}
.list.class.container .header p{
    font-size: medium;
    padding: 1px;
}
.list.class.container th{
    background-color: tomato;
    color: white;
}

.form.class.container{
    margin-top: 15px;
    display: inline-block;
    width: 35%;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    border-collapse: collapse;
}
.form.class.container .left, .right{
    margin: 15px;
    display: inline-block;
    width: auto;
    text-align: left;
}
.form.class.container select{
    width: 250px;
}
.form.class.container .input.button{
    width: auto;
    margin: 10px;
    font-size: large;
}

/*CLASSSES END*/

/*Student subject*/
.subjectsOfStudent.form{
    display: inline-block;
    margin: 1%;
    vertical-align: top;
    width: 40%;
}
.record.submit{
    margin: 1%;
}
.subject.data, .subjects.head{
    vertical-align: bottom;
    display: block;
    text-align: left;
    margin: 5px;
    border-bottom: thin solid;
}
.subject .col.name{
    display: inline-block;
    width:79%;
}
.subject .col.mark{
    text-align: right;
    display: inline-block;
    margin-left: 4.5%;
    width: 15%
}
.subject .col.mark input{
    text-decoration: none;
    border: none;
    width: 35%
}
.subjects.head .col{
    font-size: larger;
    margin: 0;
    padding-left: 15px;
}

