.courses .description{
    display: block;
    width: 80%;
    text-align: justify;
}
.curse-input {
    display: inline-block;
    width: auto;
    align-self: baseline;
    padding: 20px;
}
.alert-msg{
    margin: 3%;
}
.nav-bar{
    margin-bottom: 65px;
}

/*PROFILE ADMIN*/

.admin-profile-container{
 font-family: Arial, Helvetica, sans-serif;
}

.profile-data-container{
    text-align: center;
    border: thin black solid;
    margin:  2% 0 2% 0;
    padding: 2% 0 2% 0;
}

.profile-data{
    display: inline-block;
    text-align: center;
    font-size: x-large;
    padding: 5px;
    width: 500px;
}
.profile-data span{
    padding: 3%;
    font-size: medium;
}
.form-container{
    display: inline-block;
    width: 900px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}
.selector-container label{
    margin: 2% 0 2% 0;
}
.selector-container select{
    display: inline-block;
    margin: 2% 0 2% 0;
}
.profile-form.input-field{
    width: 300px;
    height: 20px;
    border: solid thin;
}
.profile-form.input-button{
    font-size: large;
    margin: 1%;
    padding: 10px;
}
/*PROFILE ENDS*/

/*TEACHER START*/
.form-container.teachers{
    text-align: center;
    width: 30%
}
.teachers.form.input{
    margin: 3px;
    font-size: large;
}
.teachers.list.container{
    display: block;
    margin-top: 30px;
}
.teachers.list.container table{
    width: 75%;
    border-collapse: collapse;
}
.teachers.list.container th {
    text-align: left;
    padding: 5px 0 0 15px;
    background-color: tomato;
    color: white;
}
.teachers.list.container td{
    border-bottom: thin solid black;
    padding: 1px 0 1px 12px;
}
.teachers .col.del{
    width: 75px;
    border-left: none;
}
.teachers .col.del .cell.del button{
    background-color: transparent;
    border: none;
    font-size: 11px;
}
.teachers .cell.del {
    margin: 0 auto 0 auto;
}
.teachers .col.del .cell.del button:hover {
    color: tomato;
}
.teachers.list.container a{
    color: black;
    text-decoration: none;
}
.teachers .cell a:hover{
    color:tomato;
    font-style:  italic;
}


/*COURSES*/
.courses .container{
    margin: 10px;
}
.courses .inputs.container{
    vertical-align: top;
    display: inline-block;
    width: 60%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    text-align: center;
    font-size: large;
}
.courses .input{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: inline-block;
    width: 25%;
    padding: 5px
}
.courses .input.state{
    width: 20%;
}
.courses .input.button{
    width: 200px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.courses .input.description{
    text-align: justify;
    display: block;
    width: 96%;
    margin: 5px;
}
.courses label{
    margin: 1px;
    padding: 3px;
    display: block;
}
.courses .input input{
    width: 90%;
}
.courses .state select{
    width: 180px;
    height: 26px;
}
.courses tbody{
    overflow-y: scroll;
}
.courses th div{
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.courses .col{
    width: 10%;
}
.courses .col.action{
    width: 1%;
}
.courses .col.action button{
    width: 25px;
    font-size: 8px;
    margin: 0;
    padding: 0;
}
.course .col.action{
    width: 5%;
}
.course .col.action button{
    width: 10px;
    font-size: 8px;
    margin: 0;
    padding: 0;
}
.course .col.date_start, .course .col.date_end{
    text-align: center;
}
.courses .col.description{
    width: 98%
}
.courses .col.name{
    width: 24%;
}
.courses .col.name:hover{
    background-color: tomato;
    color: white;
}
.courses a{
    background-color: inherit;
    color: inherit;
}
.courses .col div{
    padding: 0;
    padding-left: 5px;
    width: 99%
}
.courses td .cell.description {
    font-size: 11px;
}
.courses table{
    width: 85%;
}
.courses .inactive{
    background-color: lavenderblush;
}
.courses .col.del{
    width: 2%;
    text-align: center;
}
.courses .col.del button{
    font-size: 10px;
    padding: 0;
    background-color: transparent;
    border: none;
}
.courses .col.del button:hover {
    color: tomato;

}
.courses .cell.date_start, .courses .cell.date_end{
    text-align: center;
}

/*COURSES ENDS*/

/*CLASSES*/
.classSchedule div.form.text.container{
    display: inline-block;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    width: 55%;
}
.classSchedule .form.input.submit input{
    margin: 1%;
    width: 25%;
    font-size: large;
}
.classSchedule .form.container.inputs{
    margin: 5px;
    display: block;
}
.classesSchedule #name{
    width: 100%;
    font-size: larger;
}
.classesSchedule #work{
    text-align: center;
    font-size: larger;
    width: 100%;
}
.classesSchedule #color{
    width: 100%;
}
.classSchedule .form.container.inputs label{
    width: 25%;
    display: inline-block;
    font-size: large;
}
.classSchedule div.form.table.container{
    display: inline-block;
    width: 100%;
    margin-top: 2%;
}
.classSchedule .form.table.container table{
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    border-collapse: collapse;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
}
.classSchedule .form.table.container thead th{
    color: white;
    background-color: tomato;
    font-size: medium;
    padding: 0;
    margin: 0;
}
.classSchedule .form.table.container tbody{
    font-size: small;
}
.classSchedule .form.table.container td{
    border: solid thin;
    height: 15px;
    width: 10px;
}
.classSchedule .col.SÁBADO{
    background-color: tomato;
}
.classSchedule .col.DOMINGO{
    background-color: tomato;
}

.classSchedule .row.hour input{
    padding: 1px;
    margin: 1px;
    width: 10px;
}

.classSchedule .row.hour:hover{
    background-color: lightgray;
}
.classSchedule .readonly{
    font-size: larger;
    border: none;
    display: block;

}

.classSchedule .colors{
    width: 50%;
    display: inline-block;
    border: solid thin;
    padding: 0;
}
.classSchedule .color{
    display: inline-block;
    margin: 1px;
    padding: 0;


}
.classSchedule .color label{
    margin: 0;
    padding: 5px 0 5px 50px;
    height: 12px;
}

.classSchedule .color input{
    margin: 0;
}

.list.class.container table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}
.list.class.container p{
    text-align: left;
    margin: 0
}



/*CLASS LIST CLASSES*/
.classes .color.container{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 75%;
}
.classes .container table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    border-collapse: collapse;
}
.classes .list td{
    border: solid thin;
}
.classes .list p{
    text-align: left;
    padding-left: 10px;
    margin: 0;
}
.classes .list a{
    color: black;
    text-decoration: none;
}
.classes .col.name:hover a{
    color: white;
}
.classes .col.name:hover{
    background-color: tomato;
}
.classes .col.course:hover a{
    color: white;
}
.classes .col.course:hover{
    background-color: tomato;
}
.classes .col.teacher:hover a{
    color: white;
}
.classes .col.teacher:hover{
    background-color: tomato;
}
.classes .header p{
    font-size: medium;
    padding: 1px;
}
.classes .container th{
    background-color: tomato;
    color: white;
}

.classes .form{
    margin-top: 15px;
    display: inline-block;
    width: 35%;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    border-collapse: collapse;
}
.classes .form.left, .classes .form.right{
    margin: 15px;
    display: inline-block;
    width: auto;
    text-align: left;
}
.classes .container select{
    width: 250px;
}
.classes .form .input.button{
    width: auto;
    margin: 10px;
    font-size: large;
}
.classes .col.action{
    border-right: none;
}
.classes .col.name{
    border-left: none;
}
.classes .col.action button{
    font-size: 15px;
    padding: 0;
    background-color: transparent;
    border: none;
}
.classes .col.action button:hover {
    color: tomato;
}
.classes .cell button{
    background-color: transparent;
    border: none;
}
.classes .cell button:hover{
    color:tomato;
}
.classes .cell.teacher select{
    width: 150px;
}
.classes .cell:hover{
    color: tomato;
}
/*CLASSSES END*/

/*Student subject*/
.subjectsOfStudent.form{
    display: inline-block;
    margin: 1%;
    vertical-align: top;
    width: 40%;
}
.record.submit{
    margin: 1%;
}
.subject.data, .subjects.head{
    vertical-align: bottom;
    display: block;
    text-align: left;
    margin: 5px;
    border-bottom: thin solid;
}
.subject .col.name{
    display: inline-block;
    width:79%;
}
.subject .col.mark{
    text-align: right;
    display: inline-block;
    margin-left: 4.5%;
    width: 15%
}
.subject .col.mark input{
    text-decoration: none;
    border: none;
    width: 35%
}
.subjects.head .col{
    font-size: larger;
    margin: 0;
    padding-left: 15px;
}
.classes .class_name a{
    display: inline-block;
}
.classes .class_name .text{
    width: 50%
}
.classes .class_name button{
    padding: 1px;
}
.classes #name{
    border: thin red solid;
    padding: 2px;
    margin: 1px;
    width: 47%;
}
.classes #continuous_assessment, .classes #exams{
    border: thin red solid;
    padding: 5px;
    margin: 1px;
    width: 12%;
}

.users thead .cell {
    font-size: larger;
}
.users td .cell{
    font-size: small;
    padding: 3px;
}
.users tbody button{
    font-size: smaller;
}
.users .cell.del{
    margin: 0 auto 0 auto;
    text-align: center;
}
.users .cell.pass{
    margin: 0 auto 0 auto;
    text-align: center;
}
.users tr:hover{
    background-color: tomato;
    color: white;
}
