/*HORARIO */
#main-container{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    margin-top: 50px;
}
.schedule table{
    background-color: #f0f8f7;
    display:inline-table;
    border: none;
    width: 90%;
    padding: 0.5%;
}
.schedule .row.header{
    background-color: #f7dede;
    color: #030303;
}
.schedule table th{
    border: thin black solid;
    border-radius: 5px;
}
.schedule td{
    border: thin black solid;
    border-radius: 5px;
}
.schedule .col.HORA td{
    width: 1%;
}
.schedule .row.header th{
    height: 50px;
}

/*Row high for monthly schedule*/
.schedule .row.week td{
    height: 75px;
}
.schedule .col.SEMANA, .schedule .col.HORA{
    text-align: center;
    font-size: larger;
}
.schedule .col.classes{
    padding-left: 20px;
}

/*Row high for daily and weekly schedule*/
.schedule .row.week.hour td{
    height: 35px;
}

.schedule .week.col.SEMANA{
    width: 6%;
}
.schedule .daily .col.HORA{
    width: 20%;
}
.schedule .daily {
    width: 50%;
}
.schedule .daily .col.date{
    font-size: larger;
    text-align: center;
}

.schedule .col.DOMINGO{
    background-color: rgba(243, 241, 241, 0.849);
    width: 5%;
}
.schedule .col.SÁBADO{
    background-color: rgba(243, 241, 241, 0.849);
    width: 5%;
}
/*HORARIO END*/

/*EDICIÓN DATOS PERFIL*/
.student .profile-data-container{
    font-family: Arial, Helvetica, sans-serif;
    columns: 2;
    margin: 3%;
    align-self: baseline;
}
.student .profile-data{
    margin: 2%;
    background-color: pink;

}
.student .profile-data span{
    padding: 1%
}

.student .selector-container select{
    border: none;
    border-bottom: thin black solid;
}
.student .form-container{
    border: solid thin black;
    padding: 1%;
    margin-bottom: 100px;
}
/*EDICIÓN DATOS PERFIL END*/



/*EDICIÓN ASIGNATURAS*/
.selector{
    display: inline-table;
}
/*EDICIÓN ASIGNATURAS END*/

/*MATRICULA*/

.student-enrollment table td{
    border: thin solid black;
}
.student-enrollment .row.courses-title{
    height: 50px;
    font-size: larger;
    border: solid thin black;
    color: white;
    background-color: tomato;
}
.student-enrollment .row.courses-data td{
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
}
.student-enrollment.course-table{
    border-collapse: collapse;
    width: 85%;
    margin-bottom: 3%;
}
.student-enrollment .col.course-description{
    text-align: justify;
}

.student-enrollment .col-course-name{
    text-align: left;
    width: 20%;
}
.student-enrollment .col-course-name span{
    padding-left: 20px;
}

.student-enrollment .button{
    font-size: x-large;
    width: auto;
    height: auto;
    padding: 5px;
}

/*MATRICULA END*/

/*Records fail color*/

.mark.cell{
    font-size: 50px;
    text-align: center;
    padding: 0 10px 0 10px;
}
.student.finalRecord{
    margin: 3%;
}
.student.finalRecord table{
    width: 55%;
}
.student.record.data.description{
    text-align: justify;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.student .col.work, .student .col.exam, .student .col.global, .student .col.workWeight {
    text-align: right;
    padding-right: 15px;
}

/*Marks background colors*/
.student .row.class.notFinished{
    background-color: aliceblue;
}
.student .row.class.finished{
    background-color: #e1f3cf;
    font-weight: bold;
}
.student .row.class.fail{
    background-color: #f4d6cc;
    font-weight: bold;
}

