/*Profile*/

.teacher.profile.form.container{
    display: inline-block;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    padding: 15px;
}
.teacher.profile.inputs.left, .teacher.profile.inputs.right{
    display: inline-block;
    padding: 10px;
    text-align: left;
}
.teacher.profile.form input{
    display: block;
    width: 400px;
    height: 30px;
    border-radius: 4px;
    padding-left: 5px;
    margin: 10px;
}
.teacher.profile.form label{
    font-size: large;
    margin: 10px;
    padding-left: 3px;
}
.teacher.profile.down{
    display: block;
    margin: 10px;
}
.teacher.profile.down input{
    display: inline-block;
    width: 300px
}
#reset{
    display: block;
    width: 100px;
}
/*End profile*/

/*Classes*/
.teacher.classes.list.container{
    width: 85%;
    margin: auto;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    padding: 0;
}
.teacher.classes table{
    border-collapse: collapse;
    width: 100%;
}
.teacher.classes thead{
    background-color: tomato;
    color: white;
    text-align: center;
}
.teacher.classes tbody{
    text-align: left;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.teacher.classes tbody tr{
    border: solid thin;
}
.teacher.classes tbody td p{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.teacher.classes tbody::-webkit-scrollbar {
    display: none;
}
.teacher.classes .col{
    border: thin solid;
    width: 200px;
}
.teacher.classes .col.color{
    width: 30px;
}
.teacher.classes .col.color div{
    margin: auto;
    width: 30px;
    padding-left: 20px;
}
.teacher.classes tbody p{
    padding-left: 5px;
    text-align: center
}
.teacher.classes tbody a{
    text-decoration: none;
    color: blue;
}
.teacher.classes .col.name:hover{
    background-color: #888888;
}
.teacher.classes .col.name:hover a{
    color: white;
}
.teacher.classes .col.course:hover{
    background-color: #888888;
}
.teacher.classes .col.course:hover a{
    color: white;
}
/*End classes*/

/*Subjects list*/
.teachers.classDetails.subjects{
    display: inline-block;
    width: 900px;
    vertical-align: top;
    margin-top: 0;
}
.cell{
    margin:0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 15px;
}
.teachers.classDetails.subjects.table thead p{
    font-size: medium;
    margin: 0;
}
.teachers.classDetails.subjects.table tbody td{
    vertical-align: top;
    border: solid thin;
    border-collapse: collapse;
    max-height: 15px;
}
.teachers.classDetails.subjects.table .col.name{
    border-left: hidden;
}
.teachers.classDetails.subjects.table .col.description{
    width: 60%;
}
.teachers.classDetails.subjects.table .col.selector{
    width: 1%;
}
.teachers.classDetails.subjects.table .col.description .cell{
    max-height: 15px;
    overflow:hidden;
}
.teachers.classDetails.subjects.submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.teachers.classDetails.subjects.submit div{
    display: inline-block;
}
.teachers.classDetails.subjects.submit input, .teachers.classDetails.subjects.submit option{

    width: 100px;
    padding: 10px;
    border-radius: 5px;
    margin: 1%;
}
.teachers.classDetails button{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin: 25px 0 0 0;
}
.teachers .col.work, .teachers .col.exam, .teachers .col.global{
    text-align: right;
    padding-right: 10px;
    width: 15%;
}
/*Student subject*/
.teacher.studentDetails.subject.form{
    display: inline-block;
    margin: 1%;
    vertical-align: top;
    width: 50%;
}
.subject.data, .subjects.head{
    vertical-align: bottom;
    display: block;
    text-align: left;
    margin: 5px;
    border-bottom: thin solid;
}
.subject .col.name{
    display: inline-block;
    width:85%;
}
.subject .col.mark{
    text-align: right;
    display: inline-block;
    margin-left: 4.5%;
    width: 10%
}
.subject .col.mark input{
    text-decoration: none;
    border: none;
    width: 50%
}
.subjects.head .col{
    font-size: large;
    margin: 0;
    padding-left: 15px;
}
